<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Suits Me</h1>
        <h3 class="section-subheading text-muted">パーソナルカラー診断を用いて商品の購入や
         <br>コーディネートの投稿ができるサイトです
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa-stack-2x text-primary"></i>
          <i class="fa fa-palette fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">パーソナルカラーとは</h4>
        <p class="text-muted text-muted-des">
        <i class="fa fa-check fa-fw"></i>その人の生まれ持った身体の色と雰囲気が<br>似合う色のことである<br>
        <i class="fa fa-check fa-fw"></i>パーソナルカラーは見た目の印象等で決まる<br>
        <i class="fa fa-check fa-fw"></i>「イエベ春」「ブルベ夏」「イエベ秋」「ブルベ冬」の４パターンに分かれる</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa-stack-2x text-primary"></i>
          <%= link_to new_post_image_path do %>
             <i class="fas fa-plus-square fa-stack-1x fa-inverse"></i>
          <% end %>
        </span>
        <h4 class="service-heading">コーディネート投稿</h4>
        <p class="text-muted text-muted-des">
          <i class="fa fa-check fa-fw"></i>誰もが自分に似合う色でコーディネートをできるように<br>
          <i class="fa fa-check fa-fw"></i>パーソナルカラーでのコーディネートを発信や共有ができ、おしゃれを楽しめるように<br>
          <i class="fa fa-check fa-fw"></i>投稿したい方は、上の黄色のロゴをクリック</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa-stack-2x text-primary"></i>
          <%= link_to colors_path do %>
            <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
          <% end %>
        </span>
        <h4 class="service-heading">パーソナルカラー診断</h4>
        <p class="text-muted text-muted-des"><i class="fa fa-check fa-fw"></i>よりおしゃれを楽しめるように作りました<br>
        <i class="fa fa-check fa-fw"></i>診断したい方は、上の黄色のロゴをクリック</p>
      </div>
    </div>
    <div class="col-lg-12 text-center">
    </div>
  </div>
</section>