<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Suits Me</h1>
        <h3 class="section-subheading text-muted">パーソナルカラー診断を用いて商品の購入や
         <br>コーディネートの投稿ができるレビューサイトです。
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">パーソナルカラーとは</h4>
        <p class="text-muted text-muted-des">その人の生まれ持った身体の色と雰囲気が<br>似合う色のことである<br>パーソナルカラーは、見た目の印象等で決まる<br>
        「イエベ春」「ブルベ夏」「イエベ秋」「ブルベ冬」の４パターンに分かれる</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa-stack-2x text-primary"></i>
          <i class="fa fa-check fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">ミッション</h4>
        <p class="text-muted text-muted-des"><i class="fa fa-check fa-fw"></i>誰もが「出来るようになること」「具体的に何をするのか」で会社を選べるようにし、個人のスキルアップの手助けとなること<br><i class="fa fa-check fa-fw"></i>就業のミスマッチが減ることにより、不本意な転職が減少し、日本全体の生産性を向上させること</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa-stack-2x text-primary"></i>
          <i class="fa fa-history fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">設立経緯</h4>
        <p class="text-muted text-muted-des"><i class="fa fa-check fa-fw"></i>私自身の就職・転職活動時に、「スキルを身につけたい」という会社を選ぶ軸があったものの、それぞれの会社で働くことによって身につくスキルについて分からず、その情報についても集めることができなかった<br><i class="fa fa-check fa-fw"></i>1社で定年まで働くスタイルは過去のものとなりつつあり、今後は1人1人が自らのスキルを高めるために働く時代が来ると感じ、自分で1から作り、立ち上げた。</p>
      </div>
    </div>
    <div class="col-lg-12 text-center">
    </div>
  </div>
</section>