<div class = "container">
 </div class = "row">
  <div class = "col-lg-12 text-center">
        <h2 class="section-heading">Jobmiruとは</h2>
        <h3 class="section-subheading text-muted">「何のスキルが身につくのか」「具体的に何をするのか」に特化した
         <br>実際に働いた社員の声の共有サイトです。
        </h3>
  </div>
 </div>
</div>