<head>
    <title>SuitsMe</title>
</head>

<body>
  <div class = "background">
  <div class = "container">
  <div class="row">
  <b>私に似合うコーディネートを 　〜with personalcolor〜
  <%=link_to about_path,class:"btn btn-outline-dark top-button" do %><h4>SuitsMeとは</h4>
  <% end %>
  </b>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
  <link rel = "stylesheet" href="application.css">
  </div>
  </div>
  </div>
</body>