<!DOCTYPE html>
<html>
<head>
    <title>SuitsMe</title>
</head>

<body>
  <div class = "background">
  <div class = "container">
  <!--<h1>welcome to <strong>Meshiterro</strong>  !!</span></h1>-->
  <!--<p>In  <span class="glyphicon glyphicon-book"></span><strong>Meshiterro</strong>, </p>-->
  <p>私に似合うコーディネートを 　〜with personalcolor〜</p>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
　<div class = "row">
  <a class = "btn btn-xl js-scroll-trigger top-button" href="customers/sign_in">ログイン</a>
  <link rel = "stylesheet" href="application.css">
  </div>
  </div>
  </div>
</body>
</html>