<!DOCTYPE html>
<html>
<head>
    <title>SuitsMe</title>
</head>
<header class="masthead">
  <div>
    <div class="intro-text">
      <div class="intro-heading">
        <div></div>
        <div></div>
      </div>
      <!--<a class="btn btn-xl js-scroll-trigger top-button" href="#services">Jobmiruとは</a>-->
      <!--<a class="btn btn-xl js-scroll-trigger top-button" href="/posts">投稿を見る</a>-->
      <link rel="stylesheet" href="public/top.css">
    </div>
  </div>
</header>
<body>
    <div class = "background">
    </div>
</body>
</html>