<head>
    <title>SuitsMe</title>
</head>

<body>
  <div class = "background">
    <div class = "container">
      <div class="row">
          <div class = "title-suits_me">私に似合うコーディネートを</br>　〜with personalcolor〜</br>
            <%=link_to about_path,class:"btn btn-outline top-button" do %>
            <p>Suits Meとは</p>
            <% end %>
          </div>
          <link href="https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
          <link rel = "stylesheet" href="application.css">
      </div>
    </div>
  </div>
</body>

