<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">診断結果</h5>
      <div class="form-body p-4">
        <div class="intoro">
            <p>あなたのパーソナルカラーは…</p>
        </div>
        <div class="tweet-container">
            <div class="tweet">
                <% if @color.question == "1357" %>
                <h6>ブルベ夏</h6>

                <% elsif @color.question == "1358" %>
                <h6>ブルベ冬</h6>

                <% elsif @color.question == "1367" %>
                <h6>ブルベ夏</h6>

                <% elsif @color.question == "1368" %>
                <h6>ブルベ冬</h6>

                <% elsif @color.question == "1457" %>
                <p>...last question...</p>
                <p>水色の服が似合う</p>
                <h6>YES→ブルベ夏　NO→イエベ春</h6>

                <% elsif @color.question == "1458" %>
                <p>...last question...</p>
                <p>茶色の服が似合う</p>
                <h6>YES→イエベ秋　NO→ブルベ冬</h6>

                <% elsif @color.question == "1467" %>
                <p>...last question...</p>
                <p>水色の服が似合う</p>
                <h6>YES→ブルベ夏　NO→イエベ春</h6>

                <% elsif @color.question == "1468" %>
                <p>...last question...</p>
                <p>茶色の服が似合う</p>
                <h6>YES→イエベ秋　NO→ブルベ冬</h6>

                <% elsif @color.question == "2357" %>
                <p>...last question...</p>
                <p>水色の服が似合う</p>
                <h6>YES→ブルベ夏　NO→イエベ春</h6>

                <% elsif @color.question == "2358" %>
                <p>...last question...</p>
                <p>茶色の服が似合う</p>
                <h6>YES→イエベ秋　NO→ブルベ冬</h6>

                <% elsif @color.question == "2367" %>
                <p>...last question...</p>
                <p>水色の服が似合う</p>
                <h6>YES→ブルベ夏　NO→イエベ春</h6>

                <% elsif @color.question == "2368" %>
                <p>...last question...</p>
                <p>茶色の服が似合う</p>
                <h6>YES→イエベ秋　NO→ブルベ冬</h6>

                <% elsif @color.question == "2457" %>
                <h6>イエベ春</h6>

                <% elsif @color.question == "2458" %>
                <h6>イエベ秋</h6>

                <% elsif @color.question == "2467" %>
                <h6>イエベ春</h6>

                <% elsif @color.question == "2468" %>
                <h6>イエベ秋</h6>

                <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>