.header-logo{
  color: #fed136 !important;
  font-family: 'Lobster', cursive;
  padding: 0.7rem;
}

.background {
  background: url(/images/01.jpeg) center / cover;
  position: relative;
  width: 100%;
  min-height: 100vh;
}


.container b {
  position: absolute;
  color: black;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: bold;
  font-size: 3em;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }

  /*.top-button {*/
  /*position: absolute;*/
  /*display: inline-block;*/
  /*font: normal normal 300 1.3em 'Open Sans';*/
  /*margin: 5px;*/
  /*color: #fed136;*/
  /*border: 1px solid #fed136;*/
  /*border-radius: 100px;*/
  /*padding: 0.5em 2em;*/
  /*background-size: 200% 100%;*/
  /*background-image: linear-gradient(to right, transparent 50%, #fed136 50%);*/
  /*transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,color 0.5s ease 0s,background-color 0.5s ease;*/
  /*}*/