.header-logo{
  color: #120D0A !important;
  font-family: 'Lobster', cursive;
  padding: 0.7rem;
}

.background {
  background: url(01.jpg) center / cover;
  position: relative;
  width: 100%;
  min-height: 100vh;
}


.container {
  .title-suits_me {
    position: absolute;
    color: black;
    font-family: 'Klee One', cursive;
    font-weight: bold;
    font-size: 3em;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    text-align: center;
  }
}

.text-primary {
  color: #fed136 !important;
}

.fa-inverse {
  color: #fed136;
}

section {
  padding: 60px 0;
}

.top-button {
  font-family: "M PLUS 1p";
  width: 32vw;
  font-size: 30px;
  color: #1F428F;
  border: 1px solid #1F428F;
  border-radius: 100px;
  padding-top: 10px;
  }
.top-button:hover{
  background-color: #1F428F;;
  color: #fff;
}

/*************
 * ヘッダー & フッター
 * 色味 : https://color.adobe.com/ja/create/color-wheel
 *  ベースカラー: #DFC27E
 *************/
header,
footer {
  background-color: #DFC27E;
}


footer{
  width: 100%;
  position: sticky;
  bottom: 0;
}


.nav-item {
  a {
    color: #1f428f96;
  }
  a:hover{
    color: #1F428F;
  }
}

footer a,
footer a:hover {
  color: #1F428F;
  text-decoration: none;
}

.text-muted-des {
  text-align: left;
}

.container {
  .title {
    font-family: "M PLUS 1p";
  }
}

.pagination {
  justify-content: center;
}